library_client_gui/src/main/resources/wsdl/BookWebService.xsd

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://webservice.library/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.library/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookWebServiceImplService" targetNamespace="http://impl.webservice.library/">
  <wsdl:import location="BookWebService.1.xsd" namespace="http://webservice.library/">
    </wsdl:import>
  <wsdl:binding name="BookWebServiceImplServiceSoapBinding" type="ns1:BookWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBooksByAuthor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooksByAuthor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksByAuthorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchBooksByTitle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchBooksByTitle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchBooksByTitleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBooksByDepartment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooksByDepartment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksByDepartmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllBooks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBookByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookWebServiceImplService">
    <wsdl:port binding="tns:BookWebServiceImplServiceSoapBinding" name="BookWebServiceImplPort">
      <soap:address location="http://localhost:8080/pa165/services/wsdl/BookWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>