client_gui/src/main/resources/wsdl/BookWebService.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.library/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.library/">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.library/" schemaLocation="BookWebService.2.xsd"/>
</xsd:schema>
</types>
<message name="createBook">
<part element="tns:createBook" name="parameters"/>
</message>
<message name="createBookResponse">
<part element="tns:createBookResponse" name="parameters"/>
</message>
<message name="updateBook">
<part element="tns:updateBook" name="parameters"/>
</message>
<message name="updateBookResponse">
<part element="tns:updateBookResponse" name="parameters"/>
</message>
<message name="deleteBook">
<part element="tns:deleteBook" name="parameters"/>
</message>
<message name="deleteBookResponse">
<part element="tns:deleteBookResponse" name="parameters"/>
</message>
<message name="getBookByID">
<part element="tns:getBookByID" name="parameters"/>
</message>
<message name="getBookByIDResponse">
<part element="tns:getBookByIDResponse" name="parameters"/>
</message>
<message name="getAllBooks">
<part element="tns:getAllBooks" name="parameters"/>
</message>
<message name="getAllBooksResponse">
<part element="tns:getAllBooksResponse" name="parameters"/>
</message>
<message name="getBooksByAuthor">
<part element="tns:getBooksByAuthor" name="parameters"/>
</message>
<message name="getBooksByAuthorResponse">
<part element="tns:getBooksByAuthorResponse" name="parameters"/>
</message>
<message name="searchBooksByTitle">
<part element="tns:searchBooksByTitle" name="parameters"/>
</message>
<message name="searchBooksByTitleResponse">
<part element="tns:searchBooksByTitleResponse" name="parameters"/>
</message>
<message name="getBooksByDepartment">
<part element="tns:getBooksByDepartment" name="parameters"/>
</message>
<message name="getBooksByDepartmentResponse">
<part element="tns:getBooksByDepartmentResponse" name="parameters"/>
</message>
<portType name="BookWebService">
<operation name="createBook">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" message="tns:createBook" ns1:Action="http://webservice.library/BookWebService/createBookRequest"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" message="tns:createBookResponse" ns2:Action="http://webservice.library/BookWebService/createBookResponse"/>
</operation>
<operation name="updateBook">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:updateBook" ns3:Action="http://webservice.library/BookWebService/updateBookRequest"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:updateBookResponse" ns4:Action="http://webservice.library/BookWebService/updateBookResponse"/>
</operation>
<operation name="deleteBook">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:deleteBook" ns5:Action="http://webservice.library/BookWebService/deleteBookRequest"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:deleteBookResponse" ns6:Action="http://webservice.library/BookWebService/deleteBookResponse"/>
</operation>
<operation name="getBookByID">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBookByID" ns7:Action="http://webservice.library/BookWebService/getBookByIDRequest"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBookByIDResponse" ns8:Action="http://webservice.library/BookWebService/getBookByIDResponse"/>
</operation>
<operation name="getAllBooks">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:getAllBooks" ns9:Action="http://webservice.library/BookWebService/getAllBooksRequest"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" message="tns:getAllBooksResponse" ns10:Action="http://webservice.library/BookWebService/getAllBooksResponse"/>
</operation>
<operation name="getBooksByAuthor">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBooksByAuthor" ns11:Action="http://webservice.library/BookWebService/getBooksByAuthorRequest"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBooksByAuthorResponse" ns12:Action="http://webservice.library/BookWebService/getBooksByAuthorResponse"/>
</operation>
<operation name="searchBooksByTitle">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:searchBooksByTitle" ns13:Action="http://webservice.library/BookWebService/searchBooksByTitleRequest"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" message="tns:searchBooksByTitleResponse" ns14:Action="http://webservice.library/BookWebService/searchBooksByTitleResponse"/>
</operation>
<operation name="getBooksByDepartment">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBooksByDepartment" ns15:Action="http://webservice.library/BookWebService/getBooksByDepartmentRequest"/>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:getBooksByDepartmentResponse" ns16:Action="http://webservice.library/BookWebService/getBooksByDepartmentResponse"/>
</operation>
</portType>
</definitions>