client_gui/src/main/resources/wsdl/UserWebService.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.library/" targetNamespace="http://webservice.library/" version="1.0">

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

<xs:element name="findUserByRealName" type="tns:findUserByRealName"/>

<xs:element name="findUserByRealNameResponse" type="tns:findUserByRealNameResponse"/>

<xs:element name="getUserByID" type="tns:getUserByID"/>

<xs:element name="getUserByIDResponse" type="tns:getUserByIDResponse"/>

<xs:element name="getUserByUsername" type="tns:getUserByUsername"/>

<xs:element name="getUserByUsernameResponse" type="tns:getUserByUsernameResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userDTO">
<xs:sequence>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="realName" type="xs:string"/>
<xs:element minOccurs="0" name="systemRole" type="xs:string"/>
<xs:element minOccurs="0" name="userID" type="xs:long"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserByRealName">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserByRealNameResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByID">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserByUsername">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByUsernameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:userDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>