client_gui/src/main/resources/wsdl/UserWebService.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.library/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.library/">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.library/" schemaLocation="UserWebService.2.xsd"/>
</xsd:schema>
</types>
<message name="getUsers">
<part element="tns:getUsers" name="parameters"/>
</message>
<message name="getUsersResponse">
<part element="tns:getUsersResponse" name="parameters"/>
</message>
<message name="createUser">
<part element="tns:createUser" name="parameters"/>
</message>
<message name="createUserResponse">
<part element="tns:createUserResponse" name="parameters"/>
</message>
<message name="updateUser">
<part element="tns:updateUser" name="parameters"/>
</message>
<message name="updateUserResponse">
<part element="tns:updateUserResponse" name="parameters"/>
</message>
<message name="deleteUser">
<part element="tns:deleteUser" name="parameters"/>
</message>
<message name="deleteUserResponse">
<part element="tns:deleteUserResponse" name="parameters"/>
</message>
<message name="getUserByID">
<part element="tns:getUserByID" name="parameters"/>
</message>
<message name="getUserByIDResponse">
<part element="tns:getUserByIDResponse" name="parameters"/>
</message>
<message name="getUserByUsername">
<part element="tns:getUserByUsername" name="parameters"/>
</message>
<message name="getUserByUsernameResponse">
<part element="tns:getUserByUsernameResponse" name="parameters"/>
</message>
<message name="findUserByRealName">
<part element="tns:findUserByRealName" name="parameters"/>
</message>
<message name="findUserByRealNameResponse">
<part element="tns:findUserByRealNameResponse" name="parameters"/>
</message>
<portType name="UserWebService">
<operation name="getUsers">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUsers" ns1:Action="http://webservice.library/UserWebService/getUsersRequest"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUsersResponse" ns2:Action="http://webservice.library/UserWebService/getUsersResponse"/>
</operation>
<operation name="createUser">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:createUser" ns3:Action="http://webservice.library/UserWebService/createUserRequest"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:createUserResponse" ns4:Action="http://webservice.library/UserWebService/createUserResponse"/>
</operation>
<operation name="updateUser">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:updateUser" ns5:Action="http://webservice.library/UserWebService/updateUserRequest"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:updateUserResponse" ns6:Action="http://webservice.library/UserWebService/updateUserResponse"/>
</operation>
<operation name="deleteUser">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:deleteUser" ns7:Action="http://webservice.library/UserWebService/deleteUserRequest"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:deleteUserResponse" ns8:Action="http://webservice.library/UserWebService/deleteUserResponse"/>
</operation>
<operation name="getUserByID">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUserByID" ns9:Action="http://webservice.library/UserWebService/getUserByIDRequest"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUserByIDResponse" ns10:Action="http://webservice.library/UserWebService/getUserByIDResponse"/>
</operation>
<operation name="getUserByUsername">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUserByUsername" ns11:Action="http://webservice.library/UserWebService/getUserByUsernameRequest"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:getUserByUsernameResponse" ns12:Action="http://webservice.library/UserWebService/getUserByUsernameResponse"/>
</operation>
<operation name="findUserByRealName">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:findUserByRealName" ns13:Action="http://webservice.library/UserWebService/findUserByRealNameRequest"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" message="tns:findUserByRealNameResponse" ns14:Action="http://webservice.library/UserWebService/findUserByRealNameResponse"/>
</operation>
</portType>
</definitions>